<title>这是首页</title>
{include file="/public/mobile_head"}
<style>
	.index_header{
		height: 10%;
	    color: #fff;
	    background-color: #00c0ef;
	    text-align: center;
	    line-height: 100px;
	    font-size: 30px;
	}
</style>
</head>
<body class="skin-blue sidebar-mini wysihtml5-supported">
	<div class="wrapper">
		<header class="index_header">
			<div class="logo-lg"><b>Han</b>ss</div>
		</header>
		<!--<img src="__PUBLIC__/assets/img/title.png" />-->
		<!--<div>
			<p>旅行前</p>
			<p>让语言先走一步</p>
		</div>-->
		<!--<div class="content-wrapper" >
			<section class="content">
				<div class="row">
					<img src="__PUBLIC__/assets/img/title.png" />
				</div>
			</section>
		</div>-->
		
	</div>
</body>
</html>
